.CodeMirror {
    height: auto;
    /* border: 1px solid #ddd;  */
    background-color: #F5F7FE;
    border-radius: 10px;
    padding: 10px;
    font-size: 11.2px;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'Cousine', monospace;
}

.CodeMirror-scroll {
    max-height: 20%;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
}

.CodeMirror-gutters {
    border-right: 0px;
    background-color: #F5F7FE;
    white-space: nowrap;
    padding-right: 5px;
}

.CodeMirror-linenumbers {
    background-color: #F5F7FE;
    color: #6E7781;
}

.cm-s-default .cm-constant {
    color: #0350AE;
}

.cm-s-default .cm-entity {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #8250DF;
}

.cm-s-default .cm-keyword {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #3C82F6;
}

.cm-s-default .cm-storage {
    color: #CF2030;
}

.cm-s-default .cm-string {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #8250DF;
}

.cm-s-default .cm-support {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #0350AE;
}

.cm-s-default .cm-variable {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #EC4899;
}

.cm-s-default .cm-property {
    color: #22C55D;
}

.cm-s-default .cm-def {
    color: #374151;
}

.cm-s-default .cm-number {
    color: #22C55D;
}

.cm-s-default .cm-operator {
    color: #EBB305;
}