.hljs pre {
    padding-left: 7px;
    line-height: 1.25;
}

.hljs-gutters {
    border-right: 0px;
    background-color: #F5F7FE;
    white-space: nowrap;
    padding-right: 5px;
}

.hljs-linenumbers {
    background-color: #F5F7FE;
    color: #6E7781;
}

.hljs .hljs-constant {
    color: #0350AE;
}

.hljs .hljs-entity {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #8250DF;
}

.hljs .hljs-keyword {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #3C82F6;
}

.hljs .hljs-storage {
    color: #CF2030;
}

.hljs .hljs-string {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #8250DF;
}

.hljs .hljs-support {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #0350AE;
}

.hljs .hljs-title {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #EC4899;
}

.hljs .hljs-attr {
    color: #22C55D;
}

.hljs .hljs-def {
    color: #374151;
}

.hljs .hljs-number,
.hljs .hljs-literal {
    color: #22C55D;
}

.hljs .hljs-operator {
    color: #EBB305;
}

.hljs .hljs-comment {
    color: #956648;
}

pre,
code {
    background-color: #F5F7FE !important;
    border: none;
    border-radius: 10px;
    font-size: 0.79em !important;
}