a,
a:active,
a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: steelblue;
}

a.active {
    background-color: steelblue;
    border: 0;
    border-radius: 24px;
    color: #fff;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
    left: 0px;
}

.head {
    color: black;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}

.head h1 {
    font-size: 4.1rem;
    font-weight: 300;
    margin: 45px 0 0 0;
}

.head ul {
    clear: both;
    font-size: 1.2rem;
    padding: 10px 0 0 0;
}

.sectorTitle ul {
    padding-left: 0px;
}

.head ul li,
.sectorTitle ul li,
ul.examples li {
    display: inline;
    list-style: none;
    padding-right: 10px;
}

ul li.no-padding {
    padding: 0;
}

ul.examples li {
    line-height: 30px;
}

html {
    font-size: 12px;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    line-height: 24px;
}

.pill {
    font-family: 'Open Sans', serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 4px 8px 4px 8px;
    transition-duration: 200ms;
    /* text-transform: lowercase; */
    border-radius: 4px;
    background-color: #5b75cf;
    font-weight: bold;
    color: #fff !important;
}

.pill:hover {
    text-decoration: none;
    background-color: #4e63b1;
    border: 0;
    border-radius: 4px;
    /* color: black !important; */
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    /* text-transform: lowercase; */
}

.floatable>li:last-child {
    /* right:0; */
    position: absolute;
    margin-top: 10px;
}

#trunk h2 {
    font-size: 1.2rem;
}

#trunk h2.trunk-title {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.topSeparater {
    border-top: solid 1px lightgrey;
}

.reportDate {
    margin-top: -15px;
    color: dimgray;
    font-size: small;
}

h4 {
    display: inline-block;
}

.filepond--item {
    width: calc(50% - 0.5em);
}

#dataSection {
    height: 170px;
}

#files {
    height: 150px;
    margin-top: 20px;
}

.filepond--root {
    max-height: 180px;
}

.filepond--panel-root {
    background-color: #F5F7FE;
    border: solid 1px #F5F7FE;
    border-radius: 10px;
}

.filepond--credits {
    /* We put credits at the top */
    display: none;
}

.content {
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}

#codeSnippet {
    height: 40%;
}

.container {
    width: 100%;
    margin-left: initial !important;
}

table {
    width: 100%;
}

td {
    vertical-align: baseline;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
}

#graphDescription {
    font-size: 0.79em;
    max-width: 500px;
    padding-bottom: 25px;
}

.filepond--file-status-main {
    margin-top: 6px;
}